.Add-subscriber-form {
	margin-left: 0;
    margin-bottom: 20px;
    &:last-child{
        margin-bottom: 0;
    }
	> fieldset {
		margin: 0 0 0 0;
	}

}

.Add-subscriber-form__remove-button {
	position: absolute;
	right: 0;
	top: -5px;

	@media (min-width: $screen-sm-min) {
	}
}

.Add-subscriber-form__add-button {
	~ p.error {
		display: inline-block;
		margin-left: 10px;
	}
}
