.Add-subscription-form {
    margin-top: 15px;
	legend {
		font-size: 1.1429em; /* 16px */
		line-height: 1.3125em; /* 21px */
		margin-top: 0;
		font-weight: 400;
		border: none;
	}
	fieldset {
		margin-bottom: 0;
	}
	p {
		margin-bottom: 0;
	}
}

.Add-subscription-form__remove-button {
	position: absolute;
	top: -5px;
	right: 0;
	@media (min-width: $screen-sm-min) {
	}
}

.Add-subscription-form__price-info {
	display: block;
	margin: 0;
	padding: 0;
	@media (min-width: $screen-sm-min) {
		.Add-subscription-form & {
		}
	}
}
