@import "bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";

/*
.leftColumn {
	display: none;
	font: 300 14px 'Open Sans', sans-serif;
	line-height: 1.5000em;
}

.articleLayout {
	width: auto;
}

.sectionContent {
	width: auto;
	margin: 10px;
}

.mainContentSection {
	min-height: 189px;
	box-sizing: border-box;
	margin-bottom: 21px;
}

.lowerContentSection .sectionContent {
	margin: 0 0 21px 0;
}

@media (min-width: $screen-sm-min) {
	.leftColumn {
		display: block;
	}
	.articleLayout {
		width: 710px;
	}
	.sectionContent {
		width: 970px;
		margin: 0;
	}
}
*/

@import "Tlc-subscribe-form";
@import "Add-subscriber-form";
@import "Add-subscription-form";
