$fontFace: 'Open Sans', sans-serif;
.Tlc-subscribe-form {
    font: 300 14px $fontFace;
    line-height: 1.5000em; /* 21px */
    margin-bottom: 1.5em;
    position: relative;
    box-sizing: border-box;

    fieldset {
        position: relative;
        border: none;
        margin: 0 0 1.5em 0;
        padding: 0;
        display: block;
        width: 100%;
    }

    fieldset > ul > li {
        min-height: 1.1667em;
    }

    legend {
        margin-top: 0;
        margin-bottom: 3px;
        display: block;

        padding: 0;
        font-size: 1.5em;
        line-height: 1em;
        color: #333333;
        width: 100%;
        @media (min-width: $screen-sm-min) {
            width: 450px;
        }
    }

    > fieldset > legend {
        background-color: #E5E5E5;
        padding: 5px;
        font-weight: 400;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: inline-block;
        vertical-align: top;
        width: 100%;
        @media (min-width: $screen-sm-min) {
            width: 450px;
        }
    }

    label {
        width: auto;
        display: block;
        @media (min-width: $screen-sm-min) {
            width: 135px;
            display: inline-block;
        }
        &.error {
            margin: 0 0 1.5em 0;
            display: none;
            width: auto;
            font-weight: normal;
            @media (min-width: $screen-sm-min) {
                margin-left: 140px;
            }
        }
        &.requiredLabel:after {
            content: " *";
            font-size: 10px;
            line-height: 1em;
            color: red;
        }
    }

    input, select {
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        @media (min-width: $screen-sm-min) {
            width: 310px;
        }
        &:focus {
            border: 1px dotted black;
        }
        &.error {
            border: 1px dotted red;
        }
    }
    input[type=checkbox] {
        border: none;
        &:focus {
            outline: #717E8C auto 5px;
        }
    }

    .error {
        color: red;
        font-weight: bold;
    }

    p {
        line-height: 1.5em;
        padding: 0;
        margin-bottom: 1.5em;
        width: 100%;
        @media (min-width: $screen-sm-min) {
            width: 439px;
        }
    }

    button {
        font: 300 12px $fontFace;
        height: 1.75em;
        line-height: normal;
        margin: 3px 0;

        box-shadow: inset 0px 1px 0px 0px #FFFFFF;
        background: linear-gradient(to bottom, #F9F9F9 5%, #E9E9E9 100%);
        background-color: #F9F9F9;
        border-radius: 6px;
        border: 1px solid #666666;
        display: block;
        cursor: pointer;
        color: #666666;

        text-decoration: none;
        text-shadow: 0px 1px 0px #FFFFFF;

        &:hover {
            background: linear-gradient(to bottom, #E9E9E9 5%, #F9F9F9 100%);
            background-color: #E9E9E9;
        }
    }
    button[disabled] {
        border-color: #DCDCDC;
        color: #E3E3E3;
    }

    aside {
        display: block;

        border: 1px solid #E5E5E5;
        padding: 10px;
        margin: 20px;
        background-color: #FFFFFF; // Old browsers
        background: radial-gradient(ellipse at center, #FFFFFF 60%, #F3F4F8 100%);

        font-size: 13px;
        line-height: 1.5;
        white-space: normal;
        h3 {
            font-size: 1.25em;
            line-height: 1em;
            color: #333333;
            margin: 0 0 5px 0;
            font-weight: 400;
        }
        p {
            font-size: 13px;
            line-height: 1.5;
            width: auto;
            &:last-child {
                margin-bottom: 0;
            }
        }
        ul {
            list-style: disc outside none;
            margin-left: 0;
            padding-left: 2em;
            width: auto;
        }

        @media (min-width: $screen-sm-min) {
            width: 225px;
            float: right;
            clear: right;
            margin: 2px 0 20px;
        }
    }

}

.Tlc-subscribe-form__button--add-attendee {
    margin-bottom: 10px;
    ~ p.error {
        display: inline-block;
        margin-left: 10px;
    }

}

.Tlc-subscribe-form__totals {
    float: right;
    text-align: right;
    &:after {
        content: ' ';
        display: table;
        clear: both;
    }
    label {
        width: auto;
        &:after {
            content: ':'
        }
    }
    output {
        display: inline-block;
        width: 100px;
        margin-left: 5px;
    }
}

.Tlc-subscribe-form__subtotal {
    display: block;

}

.Tlc-subscribe-form__apply-keys {
    input {
        width: 85px;
        margin-left: 20px;
    }
    .error {
        margin: 0 10px 0 0;
        &:after {
            content: '';
        }
    }
}

.Tlc-subscribe-form__payment-options {
    margin: 0;
    float: left;
    width: auto;

    input {
        display: inline-block;
        &[type=radio] {
            height: 1.5em;
            margin: 0 5px;
            vertical-align: text-bottom;
        }
    }
    label {
        width: auto;
    }
    legend {
        font-size: 1em;
        line-height: 1.5em;
        color: #666666;
        display: inline-block;
        border: none;
        width: auto;
        float: left;
        margin: 0 10px 0 0;
    }
    ul {
        display: inline-block;
        width: auto;
    }
}

.Tlc-subscribe-form fieldset.Tlc-subscribe-form__payment-options {
    width: auto;
}

.Tlc-subscribe-form__submit-button {
    float: right;
    clear: both;
    .Tlc-subscribe-form & {
        margin-top: 0px;
    }
}

.Tlc-subscribe-form__billing-info__terms {
    input[type=checkbox] {
        margin-left: 0;
    }
    p {
        display: inline-block;
        vertical-align: top;
        width: 90%;
        margin-bottom: 0;
        @media (min-width: $screen-sm-min) {
            width: 280px;
        }

    }
}

.Tlc-subscribe-form__grand-total {
    font-size: 1.2857em; /* 18px */
    line-height: 1.1667em; /* 21px */
    margin-bottom: 1.1667em;
}

.review-tech-link {
    display: block;
    margin: auto;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

.now-what p {
    display: inline-block;
}
