

.articlePageContent a.ccAuthFormLink {
	background: transparent url('http://www.mycampusinsight.com/SiteCollectionImages/blankDoc.jpg') left top no-repeat;
	padding-top: 128px;
	font-size: 12px;
	text-decoration: none;
	display: inline-block;
	width: 108px;
	margin: 10px;
	text-align: center;
}

#FormView {
	min-width: 250px;
	min-height: 250px;
	position: relative;
	clear: both;
	font: 300 14px/18px 'Open Sans', sans-serif;
}

#FormView dt {
	display: inline-block;
	font: 400 normal 14px/20px 'Open Sans', sans-serif;
}

#FormView dd {
	display: inline-block;
	font: 300 normal 14px/20px 'Open Sans', sans-serif;
	margin-top: -20px;
	min-height: 20px;
}

#FormView dl:after, #FormView li:after {
	content: '';
	display: table;
	clear: both;
}

.printBtn {
	display: none;
	float: right;
	clear: both;
	margin-top: 10px;
}

#FormView .welcomeSectionTagLine {
	display: block;
	float: none;
	padding-left: 0;
	margin-bottom: 10px;
}

#FormView .dateSubmitted {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}

#FormView .dateSubmitted dt {
	display: inline-block;
	font-weight: bold;
	width: auto;
}

#FormView .dateSubmitted dd {
	display: inline-block;
	margin-left: 10px;
}

#FormView h1 {
	margin: 20px 0 30px;
	padding: 0;
	color: #666;
	font: 400 18px/18px 'Open Sans', sans-serif !important;
}

#FormView h2 {
	margin: 40px 0 0 0;
	font: 400 16px/16px 'Open Sans', sans-serif !important;
	border-bottom: 1px solid #666;
}

#FormView h3 {
	margin: 5px 0 0 0;
	font: 400 14px/14px 'Open Sans', sans-serif !important;
}

#FormView ol.subscribers {
	list-style-type: none;
	font: 300 14px/18px 'Open Sans', sans-serif;
	margin: 10px 0 10px 20px;
	padding: 0;
}

#FormView ol.training {
	list-style-type: none;
	font: 300 14px/18px 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

#FormView .billto {
	margin: 0 0 0 25px;

}

#FormView .billto span {
	font-weight: bold;
	margin-left: -60px;
	display: inline-block;
}

#FormView .billto em {
	font-style: normal;
	font-weight: bold;
}

#FormView[data-view=cx] .training dt {
	margin: 0 0 0 15px;
	float: left;
	width: auto;
	font-weight: 300;
}

#FormView[data-view=cx] .training dd {
	margin: 0;
	float: right;
}

#FormView[data-view=cx] .training dl {
	margin: 0;
}

#FormView[data-view=cx] .training li {
	padding: 5px;
}

#FormView[data-view=cx] .training li:nth-child(odd) {
	background-color: #F8F8F8;
}

#FormView[data-view=cx] .subscribers li {
	margin: 0;
	padding: 5px;
}

#FormView[data-view=cx] .subscribers em {
	font-weight: 400;
	font-style: normal;
}

#FormView .subscribers > li:not(:last-child) {
	border-bottom: 1px solid #F8F8F8;
}

#FormView #alteredTotalPrice, #FormView #useKeys, #FormView #totalPrice {
	width: 70px;
	min-width: 0;
	display: inline-block;
}

#ccDownload {
	display: none;
}