.articleLayout {
	width: 100% !important;
}

.s-only {
	display: none !important;
}

#thankText {
	position: absolute;
	bottom: 0;
}

#FormView {
	margin-bottom: 175px;
}

#s4-statusbarcontainer, #notificationArea,
.welcomeSection, .mainNavigationSection, .footerSection,
.leftColumn, .mainContentSection {
	display: none !important;
}
.lowerContentSection .sectionContent{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}