/* override default scrolling behavior */
body.v4master {
	overflow: visible;
	height: inherit;
	width: inherit;
	min-width: 970px;
}

body #s4-workspace {
	overflow: visible !important;
}

body #s4-ribbonrow {
	position: fixed;
	z-index: 1000;
	min-height: 0 !important;
	height: auto !important;
}

#s4-ribbonrow .ms-MenuUIPopupBody, #s4-ribbonrow .ms-popoutMenu, .ms-cui-menu[id ^= "Ribbon."] {
	position: fixed !important;
}

.ms-dlgOverlay {
	width: 100% !important;
}

body #s4-bodyContainer {
	min-width: 0;
}

/* ================ */
.clearFix:before,
.clearFix:after,
.sectionContent:before,
.sectionContent:after,
.lowerContentSection:before,
.lowerContentSection:after {
	content: "";
	display: table;
}

.clearFix:after,
.sectionContent:after,
.lowerContentSection:after {
	clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.clearFix,
.sectionContent,
.lowerContentSection {
	zoom: 1;
}

/* ================ */
body, html {
	margin: 0;
	padding: 0;
	background-color: #FFF;
	font: 300 12px 'Open Sans', sans-serif;
}

.calloutContent {
	margin: 0;
	padding: 0;
	background: transparent url('/SiteCollectionImages/boxGraphics/oneColInfoBoxBlgBlank_v3.jpg') 0 0 no-repeat;
	border: 1px solid #DDDDDD;
}

.calloutContent p {
	margin: 0;
	padding: 10px;
	color: #A51A0E;
	font: 400 16px/20px 'Open Sans', sans-serif;
}

.sectionContent {
	width: 970px;
	margin: 0 auto;
	position: relative;
}

.welcomeSection {
	border-bottom: 1px solid #CACACA;
	height: 40px;
	color: #4D4D4D;
	background: #e6e6e6; /* Old browsers */
	background: -moz-linear-gradient(top, #e6e6e6 20%, #e0e0e0 80%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #e6e6e6), color-stop(80%, #e0e0e0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e6e6e6 20%, #e0e0e0 80%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e6e6e6 20%, #e0e0e0 80%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e6e6e6 20%, #e0e0e0 80%); /* IE10+ */
	background: linear-gradient(to bottom, #e6e6e6 20%, #e0e0e0 80%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#e0e0e0', GradientType=0); /* IE6-9 */
}

.welcomeSectionTagLine {
	font: normal 24px/24px 'Open Sans', sans-serif;
	margin: 0;
	float: left;
	padding: 9px 0 0 12px;
	font-weight: 400;
	color: #858585;
}

.welcomeSectionTagLine span {
	color: #004788;
}

.welcomeSectionNavContainer {
	margin: 0;
	padding: 0;
	float: right;
	clear: right;
}

.welcomeSectionNavContainer p.phoneNumber {
	margin: 4px 40px 0 0;
	padding: 0;
	color: #4C4C4C;
	font-size: 14px;
	font-weight: 400;
	vertical-align: top;
	display: inline-block;
}

.welcomeNav {
	list-style-type: none;
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 0;
}

.welcomeNav li {
	float: left;
}

.welcomeNav a, .welcomeNav a:link, .welcomeNav a:visited, .welcomeNav a:hover, .welcomeNav a:active {
	color: #4C4C4C;
}

.welcomeNav {
	list-style-type: none;
	font-size: 11px;
	font-weight: 400;
}

.welcomeNav > li {
	position: relative;
}

.welcomeNav > li.hover {
	background: #3377b5; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZX");
	background: -moz-linear-gradient(top, #3377b5 0%, #1b5c97 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3377b5), color-stop(100%, #1b5c97)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3377b5 0%, #1b5c97 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3377b5 0%, #1b5c97 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3377b5 0%, #1b5c97 100%); /* IE10+ */
	background: linear-gradient(to bottom, #3377b5 0%, #1b5c97 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3377b5', endColorstr='#1b5c97', GradientType=0); /* IE6-8 */
}

.welcomeNav > li.hover > a {
	color: #FFF;
	background: transparent url('/Style Library/cmc/img/nav/whiteDownArrow.png') left 5px no-repeat;
}

.welcomeNav > li > a {
	display: block;
	float: left;
	margin: 13px 10px 13px;
	padding-left: 15px;
	background: transparent url('/Style Library/cmc/img/nav/greyDownArrow.png') left 5px no-repeat;
}

.welcomeNav > li > ul {
	position: absolute;
	top: 20px;
	left: 10px;
	display: none;
	z-index: 50;
}

.welcomeNav > li > ul > li {
	float: none;
}

.welcomeNav > li > ul > li > a {
	display: block;
	padding: 3px 10px;
	width: 120px;
}

.welcomeNav > li > ul > li > a:hover {
	background-color: #FFF;
	color: #000;
}

.welcomeNav > li:hover > ul {
	display: block;
	background-color: #CCC;
}

.welcomeNav .menu-horizontal {
	display: block;
}

/* ---------------------------------------- */
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sf-menu li {
	position: relative;
}

.sf-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
}

.sf-menu > li {
	float: left;
}

.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
}

.sf-menu a {
	display: block;
	position: relative;
	min-width: 90px;
}

.sf-menu ul ul {
	top: 0;
	left: 100%;
}

/* ---------------------------------------- */

.sf-menu a, .sf-menu a:link, .sf-menu a:visited, .sf-menu a:hover, .sf-menu a:active {
	color: #4C4C4C;
}

.sf-menu > li.sfHover {
	background: #3377b5; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZX");
	background: -moz-linear-gradient(top, #3377b5 0%, #1b5c97 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3377b5), color-stop(100%, #1b5c97)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3377b5 0%, #1b5c97 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3377b5 0%, #1b5c97 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3377b5 0%, #1b5c97 100%); /* IE10+ */
	background: linear-gradient(to bottom, #3377b5 0%, #1b5c97 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3377b5', endColorstr='#1b5c97', GradientType=0); /* IE6-8 */
}

.sf-menu > li.sfHover > a {
	color: #FFF;
	background: transparent url('/Style Library/cmc/img/nav/whiteDownArrow.png') left 5px no-repeat;
}

.sf-menu > li > a {
	display: block;
	float: left;
	margin: 13px 10px 13px;
	padding-left: 15px;
	background: transparent url('/Style Library/cmc/img/nav/greyDownArrow.png') left 5px no-repeat;
}

.sf-menu > li > a:hover {
	text-decoration: none;
}

.sf-menu ul {
	background: #FFF;
	border: 1px solid #9f9f9f;
	padding: 0px 1px 0px 1px;
	border-radius: 0 0 10px 10px;
	box-shadow: 4px -1px 4px -3px rgba(50, 50, 50, 0.25),
	-4px -1px 4px -3px rgba(50, 50, 50, 0.25),
	4px 5px 4px -3px rgba(50, 50, 50, 0.25),
	-4px 5px 4px -3px rgba(50, 50, 50, 0.25);
}

.sf-menu ul:after {
	content: '';
	display: block;
	height: 20px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #ecebea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #ecebea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #ecebea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #ecebea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #ecebea 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #ecebea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ecebea', GradientType=0); /* IE6-9 */
	border-radius: 0 0 10px 10px;
}

.sf-menu ul a {
	display: block;
	margin: 1px 10px 1px;
	padding: 0 0 0 14px;
	white-space: nowrap;
	color: #000;
	font-size: 12px;
	text-decoration: none;
	line-height: 26px;
	cursor: pointer;
}

.sf-menu ul a:hover {
	color: #4c4cFF;
}

.sf-menu ul a:hover {
	text-decoration: underline;
}

.sf-menu ul li:nth-child(even) {
	background-color: #EEE;
	border: 1px solid #FFF;
}

/* ---------------------------------------- */

.mainContentSection {
	background: transparent url('/images/CMCMasterBkg_v4.jpg') 0 0 repeat;
	/*background-color: #F4F4F4;
	border-bottom: 1px solid #C4C4C4;*/
	border-bottom: 1px solid #DDDDDD;
	min-height: 190px;
}

.mainContentSection .sectionContent {
	padding: 20px 0;
}

#loginInputDiv {
	background: #4F84B8 url('/Style%20Library/cmc/img/login/box-grad.png') repeat-x 0 0;
	color: #fff;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	box-shadow: 0 5px 12px rgba(0, 0, 0, .4);
	-webkit-box-shadow: 0 5px 12px rgba(0, 0, 0, .4);
	width: 200px;
	padding-left: 3px;
}

#loginInputDiv a {
	color: white;
	background-color: transparent;
}

#loginInputDiv a:visited {
	color: white;
	background-color: transparent;
}

#loginInputDiv a:hover {
	color: white;
	background-color: transparent;
	font-weight: bold;
}

/* ==== Product Info Section ======================================================= */
.productIconSection {
	text-align: center;
	position: static;
}

.productIconSection ul {
	margin-top: 20px;
	padding: 0;
	list-style-type: none;
	text-align: left;
	display: inline-block;
	position: static;
}

.productIconSection img {
	margin: 0;
	padding: 0;
	border: none;
	cursor: pointer;
}

.productIconSection li {
	float: left;
	margin: 0 10px 10px;
	padding: 0;
}

/* ====  Tooltip Product Section ============================================= */
.tooltip {
	display: none;
	margin: 0;
	padding: 0;
	width: 361px;
	z-index: 800;
}

.tooltip a {
	display: inline-block;
	text-indent: -9999px;
	background: transparent url("/SiteCollectionImages/globalIcons/CMCMediumOrangeArrowBtn_v1.png") 0 0 no-repeat;
	width: 33px;
	height: 33px;
	margin: 0 10px;
	vertical-align: middle;
}

.tooltipTopImage {
	margin: 0;
	padding: 0;
	height: 13px;
	background: transparent url("/Style Library/cmc/img/tooltipTop.png") 0 0 no-repeat;
}

.tooltip h2 {
	margin: 0;
	padding: 0 0 0 25px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #666;
}

.tooltipMidImage {
	margin: 0;
	padding: 0;
	background: transparent url("/Style Library/cmc/img/tooltipMid.png") 0 0 repeat-y;
}

.tooltipBottomImage {
	margin: 0;
	padding: 0;
	height: 50px;
	background: transparent url("/Style Library/cmc/img/tooltipBot.png") 0 0 no-repeat;
}

.tooltip .tooltipMidImage p {
	margin: 0 0 -0px 0;
	padding: 5px 0 0 25px;
	font: 300 12px/18px 'Open Sans', sans-serif;
	color: #999;
	display: inline-block;
	width: 275px;
	vertical-align: middle;
}

.tooltipLeft .tooltipBottomImage, .tooltipRight .tooltipBottomImage {
	background: transparent url("/Style Library/cmc/img/tooltipArrowRightBottom.png") 0 0 no-repeat;
}

.tooltipRight, .tooltipLeft {
	position: relative;
}

.tooltipLeftImage {
	width: 25px;
	height: 41px;
	position: absolute;
	right: -20px;
	margin-top: -31px;
	top: 49%;
	background: transparent url("/Style Library/cmc/img/tooltipArrowRight.png") 0 0 no-repeat;
}

.tooltipRightImage {
	width: 25px;
	height: 41px;
	position: absolute;
	left: -20px;
	margin-top: -31px;
	top: 49%;
	background: transparent url("/Style Library/cmc/img/tooltipArrowLeft.png") 0 0 no-repeat;
}

/* ------------------ */
.lowerContentSection {
}

.lowerContentSection .sectionContent {
	margin-top: 20px;
	margin-bottom: 70px;
}

.footerSection {
	margin: 0;
	/*padding: 15px 15px 0;*/
	/*background-color: #e5e5e5;*/
	border-top: 1px solid #cacaca;
	background: transparent url('/SiteCollectionImages/masterPage/CMCMasterBkgDark_v1.jpg') 0 0 repeat;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	text-decoration: none;
	color: #888;
}

.footerSection .sectionContent {
	box-sizing: border-box;
	padding: 15px 15px 0;
}

.copyright {
	margin: 0 auto;
	padding: 28px 0 0px 0;
	font-size: 10px;
	font-weight: 300;
	clear: both;
	float: left;
}

.footerSection .copyright a, .footerSection .copyright a:hover, .footerSection .copyright a:visited {
	font-weight: normal;
	font-size: 10px;
}

.footerSection .vcard {
	margin: 0px 30px 0 0px;
	float: left;
	position: relative;
	width: 410px;
}

.footerSection .vcard .org {
	padding: 0 0 5px 0;
	font-size: 12px;
	font-weight: 600;
	float: left;
}

.footerSection .vcard .adr {
	float: left;
	clear: left;
	display: block;

}

.footerSection .vcard h6 {
	font-size: 12px;
	font-weight: 600;
	position: absolute;
	top: 0;
	right: 0;
	width: 180px;
	margin: 0 0 5px 0;
	padding: 0;
}

.footerSection .vcard .tel {
	position: absolute;
	right: 0;
	top: 22px;
	width: 180px;
}

.footerSection .vcard .tel span.type {
	float: left;
	clear: left;
}

.footerSection .vcard .tel span.value {
	float: left;
	clear: none;
}

.footerSection ul {
	float: left;
	list-style-type: none;
	margin: 0;
	width: 195px;
	padding: 0 0 5px 0;
}

.footerSection ul h6 {
	font-size: 12px;
	font-weight: 600;
	margin: 0 0 5px 0;
}

.footerSection a, .footerSection a:hover, .footerSection a:visited {
	margin: 0;
	padding: 0;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	text-decoration: none;
	color: #888;
}

.footerSection ul.last-child {
	width: 105px;
	padding-right: 0;
}

.footerSection ul.last-child h6.midListTitle {
	margin-top: 10px;
}

.footerSection h4 {
	float: right;
	display: block;
	font-size: 32px;
	font-weight: 400;
	margin: 20px 0 15px;
	color: #888;
}

.footerSection h5 {
	float: right;
	display: block;
	margin: 0;
	clear: right;
	font-weight: 300;
}

/* ------- */
#ProductSheetContentTable, #PressReleaseContentTable {
	list-style-image: url('/SiteCollectionImages/pdfIcon.jpg');
	padding: 15px 0 0 30px;
	margin: 7px 0;
}

#ProductSheetContentTable {
	border-top: 1px solid #c4c4c4;
}

#WebPartWPQ3 .welcomeSectionNavContainer.productSheeetNavContainer {
	margin-right: 90px;
}

#PressReleaseContentTable {
	list-style: none;
	padding-left: 0;
}

.recentNews #PressReleaseContentTable {
	margin: 0;
}

.recentNews.articlePageContent p {
	padding: 0;
}

#ProductSheetContentTable p, #PressReleaseContentTable p {
	margin: 0 0 20px 0;
}

#WebPartWPQ3 .welcomeSectionNavContainer {
	float: right;
	margin-bottom: -1px;
	margin-right: 47px;
}

#WebPartWPQ3 .topNavSubMenu a, #WebPartWPQ3 .topNavSubMenu a:visited {
	padding: 6px 0 6px 13px;
	line-height: 1em;
	height: auto;
}

/* ----- Live Chat (limited css options) ----- */
#liveChatWrapper {
	right: 15px;
	position: fixed;
}

a.medOrangeArrowBtn, a.medOrangeArrowBtn:link,
a.medOrangeArrowBtn:visited, a.medOrangeArrowBtn:hover,
a.medOrangeArrowBtn:active {
	margin: 0;
	padding: 0 42px 0 0;
	height: 33px;
	display: block;
	color: #92320A !Important;
	font: 400 16px/33px 'Open Sans', sans-serif;
	text-align: right;
	text-decoration: none;
	background: transparent url('/SiteCollectionImages/globalIcons/MedRedArrowBtn_v1.png') right 0 no-repeat;
}

/* ------ forms --------------- */
fieldset.contactForm {
	border: none;
	margin: 0;
	padding: 0;
	font: 300 14px 'Open Sans', sans-serif;
}

.contactForm p {
	margin: 0 0 10px;
}

.contactForm ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.contactForm label {
	display: inline-block;
	width: 130px;
}

.tallInputLabel {
	vertical-align: top;
}

.contactForm .longInputLabel {
	width: auto;
}

.containsBlockItemList {
	margin-top: -2em;
}

.contactForm input, .contactForm select, .contactForm textarea, .entryColumn {
	border: 1px solid #CCC;
	width: 310px;
	margin: 3px 0;
	padding: 2px;
}

.entryColumn {
	width: 316px;
	border: none;
	display: inline-block;
}

.contactForm select {
	height: auto;
	width: 316px;
	margin-left: 4px;
}

.contactForm input[type=button], .contactForm input[type=submit] {
	width: auto;
	margin: 0;
	padding: 5px 10px;
	cursor: pointer;
	float: right;
}

.contactForm input[type=radio], .contactForm input[type=checkbox] {
	width: auto;
	margin: 2px 5px 2px 134px;
	border: none;
	outline: none;
}

.ms-RadioText label {
	font-size: 13px;
	width: auto;
}

.dynamicForm_introText, .dynamicForm_TitleText {
	display: none;
}

.articlePageContent .dynamicForm_introText {
	padding: 0;
	margin-bottom: 15px;
}

.hasDemoCenterAccess, .loginSection.hasDemoCenterAccess {
	/* gets toggled in cmc.master.js */
	display: none;
}

.noDemoCenterAccess {
	display: block;
}

.dcAccessUnderReview {
	/* gets toggled in cmc.master.js */
	display: none;
}

.loading {
	display: block;
	text-align: center;
	line-height: 150px;
	width: 150px;
	height: 100px;
	position: absolute;
	top: 0;
	left: 270px;
	background: transparent url('../../images/sprite_loading_v2.gif') no-repeat 50% 15px;
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid #666;
	color: #fff;
	border-radius: 8px;
}
