﻿.articleLayout{
	float: right;
	width: 710px;
	color: #666;
	font-size: 14px;
	padding-top: 0;
}
/* ================ */
.articleLayout:before,
.articleLayout:after {
    content:"";
    display:table;
}
.articleLayout:after{
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.articleLayout{
    zoom:1;
}
/* ================ */

.leftColumn{
	float: left;
	width: 235px;
}
.rightColumn{
	float: right;
	width: 235px;
	clear: left;

}
.ms-quicklaunch-navmgr{
	/*border: 1px solid #DDD;*/
	margin: 5px;
	display: none;
}
.leftColumn .ms-PartSpacingVertical{
	display: none;
}
.leftColumn .ms-quicklaunch-navmgr .root>li>.menu-item, 
.leftColumn .ms-quicklaunch-navmgr .root>li>a.selected{
	color:#A51A0E !important;
	/*text-transform:uppercase;*/
	text-decoration:none;
	font-weight: 400;
	font-size: 16px;
	border: none !important;
	background: transparent;
}
.leftColumn .ms-quicklaunch-navmgr ul ul {
	margin-left: 20px;
}
.leftColumn .ms-quicklaunch-navmgr ul ul .menu-item
,.leftColumn .ms-quicklaunch-navmgr ul ul .menu-item:hover{
	text-decoration:none;
	color: #999;
}
.leftColumn .ms-quicklaunch-navmgr ul ul .menu-item:hover{
	color: #000;
	background: #E8E8E8;
}
.leftColumn .ms-quicklaunch-navmgr ul ul a.menu-item.selected{
	background: #E8E8E8;
	color: #000 !important;
	border: none;
}
/* == Page Banners =============================================== */ 
.headerBanner{
	position: relative;
	margin: 0 0 20px 0;
	padding: 0;
	border: 1px solid #DDD;
	overflow: hidden;
}
.headerBanner img{
	display: block;
}
.headerBannerText{
	position:absolute;
	top: 0;
	left: 0;
}
.headerBanner h1 {
	margin: 0;
	padding: 20px 0 0 20px;
	font-size: 28px;
	line-height: 28px;
	font-weight: 400;
	color: #A51A0E;
}
.headerBanner h2 {
	margin: 0;
	padding: 5px 0 0 20px;
	font-weight: 300;
	color:  #666;
	font-size: 16px;
	line-height: 19px;
}
.headerBanner h3 {
	margin: 0;
	padding: 20px 0 0 20px;
	font-weight: 300;
	color:  #666;
	font-size: 18px;
	line-height: 22px;
	width: 390px;
}
.headerBanner h4 {
	margin: 0;
	padding: 5px 0 0 300px;
	font-weight: 400;
	color:  #DC932F;
	font-size: 12px;
	line-height: 18px;
}
.breadcrumb{
	font-size: 10px;
	color: #666;
	margin: 0;
	padding: 0;
}
.byline h1{
	font-size: 28px;
	line-height: 28px;
	font-weight: 400;
	color: #2564A9;
	margin: 10px 0 0 0;
	padding: 0;
}
.byline h2{
	margin: 0;
	padding: 5px 0 0 0;
	font-weight: 300;
	color:  #666;
	font-size: 16px;
	line-height: 19px;
}
.byline h6{
	margin: 0;
	padding: 5px 0 0 20px;
	font-weight: 300;
	color:  #666;
	font-size: 16px;
	line-height: 19px;
}
.breadcrumb a, .breadcrumb a:link, .breadcrumb a:visited, .breadcrumb a:hover, .breadcrumb:active{
	color: #666;
	text-decoration: none;
}
.breadcrumb a:hover{
	text-decoration: underline;
}
.webPartBanner {
	margin: 20px 0 0 0;
}
/* == box items =============================================== */
ul.boxList{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 720px;
	font: 300 14px/18px 'Open Sans', sans-serif;
}
.leftColumn ul.boxList{
	width: auto;
	margin-left: 5px;
}
.boxList li, .boxListDoubleWide, .boxListTripleWide{
	float: left;
	position: relative;
	border: 1px solid #DDDDDD;
	width: 223px;
	overflow:hidden;
	min-height: 90px;
	display: block;
	margin: 5px 15px 10px 0;
	padding: 0;
	font: 300 14px/18px 'Open Sans', sans-serif;
}
.boxList li.boxListDoubleWide{
	width: 463px;
}
.boxList li.boxListTripleWide{
	width: 688px;
	padding: 10px;
	background: #edf1f4 url('/SiteCollectionImages/globalIcons/tripleBoxBkg_v1.jpg') no-repeat left top;
}
.boxList li img{
	float: left;
	padding: 0 2px 0 0;
	border: none;
}
.boxList li h5, .boxList li h5.customerQuote {
	font-size: 18px;
	font-weight: 400;
	color: #666;
	margin: 0 0 5px 0;
	padding: 0;
}
.boxList li h5.customerQuote {
	float:left;
	width: 460px;
	font-weight: 300;
	margin: 10px 10px 15px 0;
	padding: 0;
}
.boxListDoubleWide p{
	font-size: 14px;
	color: #666;
	margin: 0;
	padding: 0;
}
.boxList li.boxListTripleWide img.partnerLogoImage{
	float: left;
	margin: 30px 0 30px 30px;
	padding: 0;
	display: block;
}
.boxList .tooltip p{
	color: #666;
}
.boxList li a,  .boxList li a:hover, .boxList li a:visited{
	display: block;
	text-decoration: none;
}
.boxList li h3, li.boxListDoubleWide  h3 {
	font-size: 20px;
	line-height: 20px;
	font-weight: 400;
	color: #A51A0E;
	margin: 0;
	padding: 8px 0 0 12px;
}
li.boxListDoubleWide h3 {
	padding: 15px 0 0 20px;
}  
.boxList li p, li.boxListDoubleWide p, .boxList li p.customerQuoteTitle {
	font-size: 12px;
	line-height: 14px;
	font-weight: 300;
	color: #666;
	margin: 0;
	padding: 4px 0 0 12px;
}
li.boxListDoubleWide p {
	font-size: 14px;
	line-height: 16px;
	padding: 8px 0 0 20px;
}
.boxList li p.customerQuoteTitle {
	padding: 15px 0 0 12px;
}

/* == One column box backgrounds ============================== */
.boxList li.requestDemoBox {
	background: #FFF url('/SiteCollectionImages/boxGraphics/requestDemo.jpg') left top no-repeat;
}
.boxList li.demoCenterBox {
	background: #FFF url('/SiteCollectionImages/boxGraphics/demoCenter.jpg') left top no-repeat;
}
.boxList li.testimonialsBox {
	background: #FFF url('/SiteCollectionImages/boxGraphics/testimonials.jpg') left top no-repeat;
}
.boxList li.caseStudyBox {
	background: #FFF url('/SiteCollectionImages/boxGraphics/caseStudy.jpg') left top no-repeat;
}
.boxList li.rfi-rfpBox {
	background: #FFF url('/SiteCollectionImages/boxGraphics/rfi-rfp_v1.jpg') left top no-repeat;
}
.boxList li.productSheetBox {
	background: #FFF url('/SiteCollectionImages/boxGraphics/productSheet.jpg') left top no-repeat;
}
.boxList li.partnerWebsiteBox {
	background: #FFF url('/SiteCollectionImages/boxGraphics/partnerWebsite.jpg') left top no-repeat;
}
.boxList li.ciSponsorExecBox {
	background: #FFF url('/SiteCollectionImages/globalIcons/eventSponsorExec_v3.jpg') left top no-repeat;
}
.boxList li.ciSponsorGoldBox {
	background: #FFF url('/SiteCollectionImages/globalIcons/eventSponsorGold_v3.jpg') left top no-repeat;
}
.boxList li.ciSponsorSilverBox {
	background: #FFF url('/SiteCollectionImages/globalIcons/eventSponsorSilver_v3.jpg') left top no-repeat;
}

/* == One column box products info buttons ===================== */
.boxList li.crmAdminBox, .boxList li.crmEAdviseBox, .boxList li.crmStrategicEnrollBox, .boxList li.studentViewBox,
.boxList li.studentFABox, .boxList li.studentSoftwareBox, .boxList li.portalGoDigitalBox, .boxList li.portalSharepointBox,
.boxList li.portalEmpowerBox, .boxList li.paInsightBox, .boxList li.paAnalyzeBox, .boxList li.paPackageBox, .boxList li.fbCreateNMinutesBox,
.boxList li.fbIntegrateCRMBox, .boxList li.fbESignatureBox, .boxList li.faAchiveViewBox, .boxList li.faIntegrateRealTimeBox, 
.boxList li.faReportsBox, .boxList li.hrAchiveViewBox, .boxList li.hrEmpowerBox, .boxList li.hrManageBox, .boxList li.tfrSuccessBox, 
.boxList li.tfrSoftwareBox, .boxList li.tfrMicrosoftBox, .boxList li.abscuTShirt, .boxList li.EDUCAUSETShirt, .EDUCAUSEGOLDCorpPart  {
	background: #FFF url('/SiteCollectionImages/products/CRM/crmEnterpriseWide_v1.jpg') left top no-repeat;
	height: 197px;
}
.boxList li.crmEAdviseBox {
	background: #FFF url('/SiteCollectionImages/products/CRM/crmRetainStudents_v2.jpg') left top no-repeat;
}
.boxList li.crmStrategicEnrollBox {
	background: #FFF url('/SiteCollectionImages/products/CRM/crmAchiveGoals_v1.jpg') left top no-repeat;
}
.boxList li.studentViewBox {
	background: #fff url('/SiteCollectionImages/products/CV/cv360View_v1.jpg') left top no-repeat;
}
.boxList li.studentFABox {
	background: #fff url('/SiteCollectionImages/products/CV/cvAutoFinanceAid_v1.jpg') left top no-repeat;
}
.boxList li.studentSoftwareBox {
	background: #fff url('/SiteCollectionImages/products/CV/cvSOA_v1.jpg') left top no-repeat;
}
.boxList li.portalGoDigitalBox {
	background: #fff url('/SiteCollectionImages/products/portal/portalDigital_v1.jpg') left top no-repeat;
}
.boxList li.portalSharepointBox {
	background: #fff url('/SiteCollectionImages/products/portal/portalChoose_v1.jpg') left top no-repeat;
}
.boxList li.portalEmpowerBox {
	background: #fff url('/SiteCollectionImages/products/portal/portalEmpower_v1.jpg') left top no-repeat;
}
.boxList li.paInsightBox {
	background: #fff url('/SiteCollectionImages/products/PA/paGainInsight_v1.jpg') left top no-repeat;
}
.boxList li.paAnalyzeBox {
	background: #fff url('/SiteCollectionImages/products/PA/paAnalyzeData_v1.jpg') left top no-repeat;
}
.boxList li.paPackageBox {
	background: #fff url('/SiteCollectionImages/products/PA/paChooseLevel_v1.jpg') left top no-repeat;
}
.boxList li.fbCreateNMinutesBox {
	background: #fff url('/SiteCollectionImages/products/FB/fbCreate_v1.jpg') left top no-repeat;
}
.boxList li.fbIntegrateCRMBox {
	background: #fff url('/SiteCollectionImages/products/FB/fbIntegrate_v2.jpg') left top no-repeat;
}
.boxList li.fbESignatureBox {
	background: #fff url('/SiteCollectionImages/products/FB/fbESignature_v1.jpg') left top no-repeat;
}
.boxList li.faAchiveViewBox {
	background: #fff url('/SiteCollectionImages/products/FA/faView_v1.jpg') left top no-repeat;
}
.boxList li.faIntegrateRealTimeBox {
	background: #fff url('/SiteCollectionImages/products/FA/faIntegrate_v1.jpg') left top no-repeat;
}
.boxList li.faReportsBox {
	background: #fff url('/SiteCollectionImages/products/FA/faAutoReports_v1.jpg') left top no-repeat;
}
.boxList li.hrAchiveViewBox {
	background: #fff url('/SiteCollectionImages/products/HR/hrView_v2.jpg') left top no-repeat;
}
.boxList li.hrEmpowerBox {
	background: #fff url('/SiteCollectionImages/products/HR/hrEmpower_v1.jpg') left top no-repeat;
}
.boxList li.hrManageBox {
	background: #fff url('/SiteCollectionImages/products/HR/hrPayroll_v1.jpg') left top no-repeat;
}
.boxList li.tfrSuccessBox {
	background: #fff url('/SiteCollectionImages/products/TFR/tfrAchieve_v2.jpg') left top no-repeat;
}
.boxList li.tfrSoftwareBox {
	background: #fff url('/SiteCollectionImages/products/TFR/tfrAddCRM_v1.jpg') left top no-repeat;
}
.boxList li.tfrMicrosoftBox {
	background: #fff url('/SiteCollectionImages/products/TFR/tfrDynamicGP_v1.jpg') left top no-repeat;
}
.boxList li.abscuTShirt {
	background: #fff url('/SiteCollectionImages/Events/eventABSCU2013-tshirt_v1.jpg') left top no-repeat;
}
.boxList li.EDUCAUSETShirt {
	background: #fff url('/SiteCollectionImages/Events/eventEDUCAUSE2013-tshirt_v1.jpg') left top no-repeat;
}
.boxList li.EDUCAUSEGOLDCorpPart {
	background: #fff url('/SiteCollectionImages/Events/EDUCAUSEGoldPartLogo.jpg') left top no-repeat;
}

/* == One column box backgrounds Webcasts ===================== */
.boxList li.webcastBox {
	background: #FFF url('/SiteCollectionImages/globalIcons/oneColBlankBkg_v1.jpg') left top no-repeat;
}
.boxList li h5.webcastTitle {
	font-size: 16px;
	line-height: 20px;
	font-weight: 300;
	color: #666;
	margin: 0;
	text-align:center;
	padding: 15px 0 0 0;
}


/* == Two column box backgrounds ============================== */
.boxList li.ecosystemTwoColBox, .boxList li.geniusBarTwoColBox, .boxList li.trainingScheduleTwoColBox {
	background: #FFF url('/SiteCollectionImages/globalIcons/ecosystem_v1.jpg') left top no-repeat;
	height: 178px;
}
.boxList li.geniusBarTwoColBox {
	background: #FFF url('/SiteCollectionImages/Events/geniusBar_v1.jpg') left top no-repeat;
}
.boxList li.trainingScheduleTwoColBox {
	background: #FFF url('/SiteCollectionImages/Events/trainingSchedule_v1.jpg') left top no-repeat;
}
.boxList li.ecosystemTwoColBox p, .boxList li.geniusBarTwoColBox p, .boxList li.trainingScheduleTwoColBox p {
	width: 269px;
}
/* == Article Page Content ==================================== */
.articlePageContent {
	margin: 0;
	padding: 0;
}
.articlePageContent h4 {
	margin: 0;
	padding: 15px 0 5px 0;
	font-size: 20px;
	font-weight: 400;
	color: #3376B3;
}
.articlePageContent h4.orangeHeading, .articlePageContent h4.orangeHeadingTopPad {
	margin: 0;
	padding: 0 0 5px 0;
	font-size: 22px;
	font-weight: 400;
	color: #DC932F;
}
.articlePageContent h4.orangeHeadingTopPad {
	margin: 20px 0 0 0;
}
.pageLine1px {
	margin: 5px 0px 15px 0px;
	background-color:#DDDDDD;
	height: 1px;
}
.articlePageContent p, .articlePageContent p.lastPharagraph, .articlePageContent p.bulletHeading {
	margin: 0;
	padding: 0 0 15px 0;
	font: 300 14px/18px 'Open Sans', sans-serif; 
	color: #555;
}
.articlePageContent p.bulletHeading {
	padding: 0 0 5px 0;
}

.articlePageContent p.pharagraphTextHeading, .articlePageContent p.pharagraphTextHeadingNoPad {
	margin: 0;
	padding: 0 0 8px 0;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #333;
}
.articlePageContent p.pharagraphTextHeadingNoPad {
	padding: 5px 0 8px 0;
}
.articlePageContent p.lastPharagraph {
	padding: 0 0 30px 0;
}
.articlePageContent p.legalText1 {
	margin: 0;
	padding: 20px 0 15px 0;
	font-size: 10px;
	line-height: 12px;
	font-weight: 300;
	color: #666;
}
.articlePageContent p.newsText1 {
	margin: 0;
	padding: 0 0 10px 0;
	font-size: 12px;
	line-height: 14px;
	font-weight: 300;
	color: #666;
}
.articlePageContent ul.bulletTextNorm, .articlePageContent ul.bulletTextNormTopPad, .articlePageContent ul.bulletTextPageHeading,
.articlePageContent ul.bulletTextNormNoBottomPad {
	margin: 0 0 0 40px;
	padding: 0 15px 15px 0;
	list-style: disc;
}
.articlePageContent ul.bulletTextNormNoBottomPad {
	padding: 0 15px 0 0;
}
.articlePageContent ul.bulletTextPageHeading {
	margin: 15px 0 0 40px;
	padding: 0;
}
.articlePageContent ul.bulletTextNormTopPad {
	padding: 8px 15px 0px 0;
}
.articlePageContent ul.bulletTextNorm > ul {
	padding: 0 0 10px 40px;
}
.articlePageContent ul.bulletTextNorm > li, .articlePageContent ul.bulletTextNormTopPad > li, 
.articlePageContent ul.bulletTextPageHeading > li, .articlePageContent ul.bulletTextNormNoBottomPad > li {
	margin: 0;
	padding: 0 0 7px 0;
	font-size: 14px;
	line-height: 16px;
	font-weight: 300;
	color: #666;
	float: none;
	list-style: disc;
}
.articlePageContent ul.bulletTextNorm > li > ul > li, .articlePageContent ul.bulletTextNormTopPad > li > ul > li, 
.articlePageContent ul.bulletTextPageHeading > li > ul > li, .articlePageContent ul.bulletTextNormNoBottomPad > li > ul > li {
	margin: 0;
	padding: 0 0 7px 0;
	font-size: 14px;
	line-height: 16px;
	font-weight: 300;
	color: #666;
	float: none;
	list-style:circle;
}

.articlePageContent a, .articlePageContent a:hover, .articlePageContent a:visited {
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 16px;
	font-weight: 300;
	color: #2564A9;
	text-decoration: underline;
}
.articlePageContent a.largeLinkText, .articlePageContent a.largeLinkText:hover, .articlePageContent a.largeLinkText:visited {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 14px;
	font-weight: 400;
	color: #333;
	text-decoration: underline;
}
.articlePageContent a.newsLinkText, .articlePageContent a.newsLinkText:hover, .articlePageContent a.newsLinkText:visited {
	margin: 0;
	padding: 0;
	font-size: 12px;
	line-height: 16px;
	font-weight: 300;
	color: #2564A9;
	text-decoration: underline;
}
.articlePageContent a:hover {
	color: #000;
}
.articlePageContent img.partnerPageLogo {
	margin: 0 0 10px 0;
	padding: 0;
}
.articlePageContent img.bioPhotoLeft {
	margin: 0 0 0 10px;
	padding: 0;
	float: right;
}
/* == Info Boxes =============================================== */
.articlePageContent .tripleWideInfoBox, .articlePageContent .doubleWideInfoBox {
	position:relative;
	margin: 5px 15px 15px 0;
	padding: 20px;
	border: 1px solid #DDDDDD;
	background: #edf1f4 url('/SiteCollectionImages/globalIcons/tripleBoxBkg_v2.jpg') no-repeat left top;
	min-height: 90px;
	width: 664px;
}
.articlePageContent .doubleWideInfoBox {
	width: 443px;
	padding: 10px;
	/*background: #edf1f4 url('/SiteCollectionImages/boxGraphics/doubleBoxBkg_v1.jpg') no-repeat left top;*/
	background-color: #f9f9f9;
}
.tripleWideInfoBox h1{
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
	color: #666;
	margin: 0;
	padding: 5px 0 15px 0;
}
.tripleWideInfoBox h6.greyColorText, .doubleWideInfoBox h6, .doubleWideInfoBox h6.greyColorText, .tripleWideInfoBox h6.greyColorText2,
.doubleWideInfoBox p span, .tripleWideInfoBox p span {
	font-size: 14px;
	font-weight: 400;
	color: #A51A0E;
	margin: 0;
	padding: 0;
}
.doubleWideInfoBox h6.greyColorText, .tripleWideInfoBox h6.greyColorText2, .tripleWideInfoBox h6.greyColorText {
	color: #333;
	padding: 0 0 10px 0;
}
.tripleWideInfoBox p, .doubleWideInfoBox p, .doubleWideInfoBox a, .doubleWideInfoBox a:link, .doubleWideInfoBox a:hover, .doubleWideInfoBox a:visited {
	font-size: 14px;
	line-height: 16px;
	font-weight: 300;
	color: #333;
	margin: 0;
	padding: 0;
}
.doubleWideInfoBox a, .doubleWideInfoBox a, .doubleWideInfoBox a:link, .doubleWideInfoBox a:hover, .doubleWideInfoBox a:visited {
	color: #2564A9;
	text-decoration: underline;
	}
.doubleWideInfoBox p, .tripleWideInfoBox p {
	padding: 0 0 14px 0;
}
.infoBoxLeftColumn {
	margin: 0;
	padding: 0;
	float:left;
	width: 420px;
	border: red;
}
.infoBoxRightColumn {
	margin: 0;
	padding: 0;
	float:right;
	width: 230px;
}
.infoBoxRightColumn img{
	margin: 10px 0 0 40px;
	padding: 0;
}
.infoBoxLeftColumn ul {
	margin: 0;
	padding: 0;	
}
.infoBoxLeftColumn ul li{
	margin: 0;
	padding: 0;
	float: left;
	list-style:none;
}
.infoBoxButtonList a, .infoBoxButtonList a:link, .infoBoxButtonList a:visited, .infoBoxButtonList a:hover, .infoBoxButtonList a:active {
	margin: 15px 15px 15px 0;
	padding: 0 0 0 10px;
	display: block;
	width: 115px;
	height: 26px;
	color: #fff;
	font-size: 14px;
	line-height: 25px;
	text-decoration: none;
	background: transparent url('/SiteCollectionImages/globalIcons/CMCInfoBtnGreen_v1.png') top left no-repeat;	
}
.returnToTopLink {
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 15px;
	right: 20px;
}
/* == Module Rollover Buttons ================================== */
.moduleInfoRolloverBtn, .moduleInfoRolloverOneColumnBtn {
	margin: 0 0 15px 0;
	padding: 10px 0 0 0;
	width: 680px;
	clear: both;
}
.moduleInfoRolloverOneColumnBtn {
	width: 210px;
}
.moduleInfoRolloverBtn ul, .moduleInfoRolloverOneColumnBtn ul {
	list-style-type: none;
	margin: 0;
	padding: 0;	
	position:static;
}
.moduleInfoRolloverBtn li, .moduleInfoRolloverOneColumnBtn li {
	float: left;
	margin: 5px 15px 10px 0;
}
.moduleInfoRolloverBtn a, .moduleInfoRolloverBtn a:link, .moduleInfoRolloverBtn a:visited, .moduleInfoRolloverBtn a:hover, .moduleInfoRolloverBtn a:active,
.moduleInfoRolloverOneColumnBtn a, .moduleInfoRolloverOneColumnBtn a:link, .moduleInfoRolloverOneColumnBtn a:visited, .moduleInfoRolloverOneColumnBtn a:hover, 
.moduleInfoRolloverOneColumnBtn a:active {
	border: 1px solid #DDDDDD;
	width: 199px;
	overflow:hidden;
	height: 54px;
	display: block;
	margin: 0;
	padding: 10px 0 0 10px;
	cursor: pointer;
	text-decoration:none;
	color: #DC932F;
	font-size: 16px;
	line-height:16px;
	font-weight: 400;
	padding: 10px 0 0 10px;
}
.moduleInfoRolloverBtn p.moduleInfoRolloverBtnText, .moduleInfoRolloverOneColumnBtn p.moduleInfoRolloverBtnTextLarge {
	margin: 0;
	padding: 5px 0 0 25px;
	font: 300 14px/18px 'Open Sans', sans-serif; 
	color: #555;
	width: 320px;
}
.moduleInfoRolloverOneColumnBtn p.moduleInfoRolloverBtnTextLarge {
	padding: 5px 0 0 15px;
}
.moduleInfoRolloverOneColumnBtn p.moduleInfoRolloverBtnText, .moduleInfoRolloverOneColumnBtn p.moduleInfoRolloverBtnText span,
.moduleInfoRolloverBtn p.moduleInfoRolloverBtnText2 {
	margin: 0;
	padding: 5px 0 5px 15px;
	font: 300 12px/16px 'Open Sans', sans-serif;
	color: #555;
	width: 300px;
}
.moduleInfoRolloverBtn p.moduleInfoRolloverBtnText2 {
	font: 300 14px/18px 'Open Sans', sans-serif;
}
.moduleInfoRolloverOneColumnBtn p.moduleInfoRolloverBtnText span {
	padding: 0;
	font: 400 14px/16px 'Open Sans', sans-serif;
}
.tooltipMidImageScroll {
	margin: 0 5px 0 5px;
	padding: 0;
	overflow:auto;
	height: 220px;
	}
.tooltipMidImageScroll h2, .tooltipMidImage h2.orangePharagraphHead {
	margin: 0;
	padding: 5px 0 0 13px;
	font: 400 18px/20px 'Open Sans', sans-serif;
	color: #DC932F;
	}
.tooltipMidImage h2.orangePharagraphHead {
	padding: 5px 0 0 25px;
	}
.tooltipMidImageScroll h2 span{
	margin: 0;
	padding: 0;
	font-size: 12px;
	line-height: 18px;
	font-weight: 300;
	color: #555;
	}
.moduleInfoRolloverOneColumnBtn li.coreFeaturesBtnBkg {
	background: #fff url('/SiteCollectionImages/products/PA/PACoreFeaturesBtnBkg_v1.png') left top no-repeat;
}
.moduleInfoRolloverOneColumnBtn li.goldLevelBtnBkg {
	background: #fff url('/SiteCollectionImages/products/PA/PAGoldLevelBtnBkg_v1.png') left top no-repeat;
}
.moduleInfoRolloverOneColumnBtn li.platinumLevelBtnBkg {
	background: #fff url('/SiteCollectionImages/products/PA/PAPlatinumLevelBtnBkg_v1.png') left top no-repeat;
}
.moduleInfoRolloverOneColumnBtn li.faSolutionBtnBkg {
	background: #fff url('/SiteCollectionImages/products/FA/FASolutionBtnBkg_v1.png') left top no-repeat;
}
.moduleInfoRolloverBtn li.cvTermsBtnBkg {
	background: #fff url('/SiteCollectionImages/products/CV/CVTermsBtnBkg_v1.png') left top no-repeat;
}
.moduleInfoRolloverBtn li.cvWorkflowBtnBkg {
	background: #fff url('/SiteCollectionImages/products/CV/CVAutoWorkflowBtnBkg_v1.png') left top no-repeat;
}
.moduleInfoRolloverBtn li.cvTitleFourBtnBkg {
	background: #fff url('/SiteCollectionImages/products/CV/CVTitleBtnBkg_v1.png') left top no-repeat;
}
.moduleInfoRolloverOneColumnBtn li.tfrBizRulesBtnBkg {
	background: #fff url('/SiteCollectionImages/products/TFR/tfrBizRulesBtnBkg_v1.png') left top no-repeat;
}
.moduleInfoRolloverOneColumnBtn li.tfrPortalAccessBtnBkg {
	background: #fff url('/SiteCollectionImages/products/TFR/tfrAccessBtnBkg_v1.png') left top no-repeat;
}
.moduleInfoRolloverOneColumnBtn li.tfrReportsBtnBkg {
	background: #fff url('/SiteCollectionImages/products/TFR/tfrReportsBtnBkg_v1.png') left top no-repeat;
}
.moduleInfoRolloverBtn li.productEmpowerBtnBkg {
	background: #fff url('/SiteCollectionImages/products/prodEmpowerBtnBkg_v1.png') left top no-repeat;
}
.moduleInfoRolloverBtn li.productCloudBtnBkg {
	background: #fff url('/SiteCollectionImages/products/prodCloudBtnBkg_v1.png') left top no-repeat;
}
.moduleInfoRolloverBtn li.productFutureBtnBkg {
	background: #fff url('/SiteCollectionImages/products/prodInnoBtnBkg_v1.png') left top no-repeat;
}

/* == Random Testimonial ======================================= */
ul.testimonials{	
	margin: 0;
	padding: 0;
	list-style:none;
}
ul.testimonials li{
	margin: 25px 0 0 3px;
	padding: 5px 1px 5px 0px;
	min-height: 0;
	width: 225px;	
	background: transparent url('/Style Library/cmc/img/testimonialBgBottomGrey1.png') no-repeat left bottom;
	list-style:none;
}
.testimonials li h4{
	margin: 0;
	color: #000;
	text-align: right;
	font: 400 16px/18px 'Open Sans', sans-serif; 
}
.testimonials li h5{
	margin: 0;
	color: #999;
	text-align: right;
	font: 400 10px/12px 'Open Sans', sans-serif;
}
.testimonials li p{
	color: #666;
	margin: -25px 0 0 0;
	padding: 15px 25px 0px 15px;
	background: transparent url('/Style Library/cmc/img/testimonialBgTopGrey1.png') no-repeat left top;
	min-height: 75px;
	font: 300 13px/16px 'Open Sans', sans-serif; 
}
.testimonials .author{
	padding: 0px 32px 5px 0px
}
.testimonials a{
	padding-left: 10px;
	display:block;
}
ul.textimonialVideoBtnList {
	list-style-type: none;
	margin: 20px 0 0 0;
	padding: 0;
	width: 720px;
}
.textimonialVideoBtnList li {
	float: left;
	position: relative;
	width: 223px;
	overflow:hidden;
	display: block;
	margin: 5px 15px 10px 0;
	padding: 0;
	min-height:48px;
}
.textimonialVideoBtnList p, .textimonialVideoBtnList p.twoLineCollegeName {
	font-size: 16px;
	font-weight: 300;
	color: #666;
	margin: 0;
	padding: 7px 0 5px 0;
}
.textimonialVideoBtnList p.twoLineCollegeName {
	padding: 0 0 5px 0;
}

.textimonialVideoBtnList li img{
	float: left;
	margin: 0 10px 0 0;
	padding: 0;
	border: none;
}
.textimonialVideoBtnList a{
	border: none;
	text-decoration:none;
	outline: none;
}

/* == Banners ========================================================== */
img.bannerBtnCRM {
	margin: 130px 0 0 140px;
	padding: 0;
	border: none;
}
/* == Buttons ========================================================== */
a.smOrangeArrowBtn, a.smOrangeArrowBtn:hover, a.smOrangeArrowBtn:visited, a.smOrangeArrowBannerBtn, a.smOrangeArrowBannerBtn:hover {
	margin: 10px 0 0 20px;
	padding: 0 41px 0 0;
	height: 26px;
	display:block;
	color: #DC932F !Important;
	font-size: 12px;
	line-height: 26px;
	font-weight: 400;
	text-align:right;
	text-decoration: none;
	background: transparent url('/SiteCollectionImages/globalIcons/CMCSmallOrangeArrowBtn_v1.png') right 0 no-repeat;
}
a.smOrangeArrowBannerBtn, a.smOrangeArrowBannerBtn:hover, a.smOrangeArrowBannerBtn:visited {
	margin: 20px 0 0 40px;
	padding: 0 41px 0 0;
	height: 26px;
	font-size: 12px;
	line-height: 26px;
}
.OrangeArrowMoreBtn {
	float: right;
	margin: 5px 20px 0 0;
	padding: 0 41px 0 0;
	height: 26px;
	width: 100px;
	color: #DC932F !Important;
	background: transparent url('/SiteCollectionImages/globalIcons/CMCSmallOrangeArrowBtn_v1.png') right 0 no-repeat;
}
.OrangeArrowMoreBtn p {
	margin:0;
	padding: 5px 0 0 0 !Important;
	color: #DC932F !Important;
	font-size: 12px !Important;
	line-height: 26px;
	font-weight: 400 !Important;
	text-align: right;
}
.demoCenterHomeLogin .democenterFlyoutSection{
	width: 203px;
	margin-left: 3px;
}
.demoCenterHomeLogin .democenterLoginAuthenticated{
	min-height:0;	
}
.demoCenterHomeLogin .loginSection input{
	width: 198px;
}
.demoCenterHomeLogin .forgotPassword{
	margin: 5px;
	display:block;
}
.demoCenterHomeLogin .forgotPassword.unauthenticated{
	display: none;
}

ul.webcastVideoBtnList {
	list-style-type: none;
	margin:  0;
	padding: 0;
	display: none;
}
.airDate{
	clear: both;
	margin:  0;
	padding: 0;
}
label.required:after{
	content:" *";
	font-size: 10px;
	color: red;
}
label.required + span input + br,
label.required + span select + br,
label.required + span textarea + br{
	display: none;
}

.ms-formvalidation{
	margin-left: 5px;
}
/* == PowerPoint Download Page from campusinsight.com =============================================== */
.articlePageContent p.pharagraphTextHeadingPS, .articlePageContent p.pharagraphTextHeadingCRM, .articlePageContent p.pharagraphTextHeadingInno,
.articlePageContent p.pharagraphTextHeadingFA, .articlePageContent p.pharagraphTextHeadingHR, .articlePageContent p.pharagraphTextHeadingAE,
.articlePageContent p.pharagraphTextHeadingComp, .articlePageContent p.pharagraphTextHeadingTFR {
	margin: 0;
	padding: 0 0 14px 30px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #333;
	background: url('/SiteCollectionImages/CI2014/breakoutSessions/tfrDiamondsm.png') no-repeat left top;
}
.articlePageContent p.pharagraphTextHeadingCRM {
	background: url('/SiteCollectionImages/CI2014/breakoutSessions/crmDiamondsm.png') no-repeat left top;
}
.articlePageContent p.pharagraphTextHeadingInno {
	background: url('/SiteCollectionImages/CI2014/breakoutSessions/techDiamondsm.png') no-repeat left top;
}
.articlePageContent p.pharagraphTextHeadingFA {
	background: url('/SiteCollectionImages/CI2014/breakoutSessions/faDiamondsm.png') no-repeat left top;
}
.articlePageContent p.pharagraphTextHeadingHR {
	background: url('/SiteCollectionImages/CI2014/breakoutSessions/financeDiamondsm.png') no-repeat left top;
}
.articlePageContent p.pharagraphTextHeadingAE {
	background: url('/SiteCollectionImages/CI2014/breakoutSessions/acMgmtDiamondsm.png') no-repeat left top;
}
.articlePageContent p.pharagraphTextHeadingComp {
	background: url('/SiteCollectionImages/CI2014/breakoutSessions/compDiamondsm.png') no-repeat left top;
}
.articlePageContent p.pharagraphTextHeadingTFR {
	background: url('/SiteCollectionImages/CI2014/breakoutSessions/psDiamondsm.png') no-repeat left top;
}
.articlePageContent ul.downloadLink {
	margin: 0 0 15px 60px;
	padding: 0;
	list-style:none;
}
.articlePageContent ul.downloadLink li, .articlePageContent ul.downloadLink a, .articlePageContent ul.downloadLink a:hover, 
.articlePageContent ul.downloadLink a:visited {
	margin: 0;
	padding: 0 0 7px 0;
	font-size: 12px;
	line-height: 16px;
	font-weight: 300;
	color: #333;
	float: none;
	list-style: none;
}
.articlePageContent ul.downloadLink a, .articlePageContent ul.downloadLink a:hover, .articlePageContent ul.downloadLink a:visited {
	font-weight: 400;
	color: #2564A9;
	text-decoration: underline;
}

/* == Schedule Table ========================================================== */
table.eventSchedule {
	margin: 5px 0 25px 0;
	vertical-align:top;
}
table.eventSchedule td {
	vertical-align:top;
	padding: 6px 5px 12px 5px;
}
table.eventSchedule tr.headingRow {
	background-color:#2564A9;
	font: 400 14px/18px 'Open Sans', sans-serif;
	color: #fff; 
}
table.eventSchedule tr.headingRow td {
	padding: 5px;}

table.eventSchedule tr.ltGreyBkg {
	background-color:#f2f2f2;
}
table.eventSchedule tr.ltOrangeBkg {
	background-color:#f8e8d1;
	border: 1px solid #fff;
	border-width: 2px 0 2px 0;
}

.legal p{
	font-size:11px;
	padding-bottom: 5px;
	line-height:normal;
}
.legal h5{
	margin: 10px 0 0 0;
	font-size:11px;
	font-weight: bold;
	line-height:normal;
}
/* == Terms of Use ========================================================== */
.articlePageContent p.termsBold {
	margin: 0;
	padding: 0 0 15px 0;
	font: 400 14px/18px 'Open Sans', sans-serif; 
	color: #555;
}
.articlePageContent h3.termsHeading {
	margin: 0;
	padding: 0 0 15px 0;
	font: 400 18px/22px 'Open Sans', sans-serif; 
	color: #555;
}
/* === CVPA Abbriviations ======================================== */
table.CVPAAbbriviations td {
	padding: 8px;
	font: 400 12px/14px 'Open Sans', sans-serif;
	color: #333;
	border: 1px solid #ccc;
}
table.CVPAAbbriviations tr:nth-child(even){
	background-color: #eee;
}
table.CVPAAbbriviations th, table.CVPAAbbriviations th.blueHeader {
	padding: 5px 5px 5px 8px;
	text-align:left;
	font: 400 12px/16px 'Open Sans', sans-serif;
	color: #333;
	background-color: #ccc;
	border: 1px solid #ccc;
}
table.CVPAAbbriviations th.blueHeader {
	padding: 8px;
		font: 400 14px/16px 'Open Sans', sans-serif;
	color: #fff;
	background-color: #1d659f;
}