<li id="{{person.domID}}" class="Add-subscriber-form">
	<fieldset>
		<legend>Subscriber (<span class="index">1</span>)</legend>
		<ul role="presentation">
			<li>
				<label for="{{person.domID}}firstName" class="requiredLabel">First Name</label>
				<input type="text" id="{{person.domID}}firstName" name="{{person.domID}}firstName"
					   value="{{person.firstName}}"
					   required/>
			</li>
			<li>
				<label for="{{person.domID}}lastName" class="requiredLabel">Last Name</label>
				<input type="text" id="{{person.domID}}lastName"
					   name="{{person.domID}}lastName"
					   value="{{person.lastName}}"
					   required/>
			</li>
			<li>
				<label for="{{person.domID}}email" class="requiredLabel">Email</label>
				<input type="email" id="{{person.domID}}email" name="{{person.domID}}email" value="{{person.email}}"
					   required/>
			</li>
			<li>
				<label for="{{person.domID}}userType">User Type</label>
				<select id="{{person.domID}}userType" name="{{person.domID}}userType">
					<option value="">Select...</option>
					<option value="Administrator">Administrator (Person who runs progress reports on subscribers)
					</option>
					<option value="End User">End User (Person taking training only)</option>
				</select>
			</li>
			<li>
				<label for="{{person.domID}}department">Department</label>
				<input type="text" id="{{person.domID}}department" name="{{person.domID}}department" value=""/>
			</li>
			<li>
				<label for="{{person.domID}}jobRole">Job Role</label>
				<input type="text" id="{{person.domID}}jobRole" name="{{person.domID}}jobRole" value=""/>
			</li>
			<li>
				<ul class="subscriptions">
				</ul>
				<button class="addSubscriptionBtn Add-subscriber-form__add-button" id="addSub_{{person.domID}}"
						aria-describedby="{{person.domID}}_oneSubscriptionRequiredError">Add Training
				</button>
				<p class="error" style="display: none" aria-hidden="true" id="{{person.domID}}_oneSubscriptionRequiredError"
				   role="alert">Add at least one subscription for this subscriber to continue.</p>
			</li>
		</ul>
		<button class="removeAttendeeBtn Add-subscriber-form__remove-button" id="rmPerson_{{person.domID}}">Remove Subscriber</button>
	</fieldset>
</li>