<li id="{{subscription.domID}}" class="Add-subscription-form">
	<fieldset class="addSubscription">
		<legend>Select Training Content</legend>
		<label for="{{subscription.domID}}subscription" class="requiredLabel">Course Title</label>
		<select id="{{subscription.domID}}subscription"
				aria-controls="{{subscription.domID}}subscriptionPrice totalPrice totalKeys"
				name="{{subscription.domID}}subscription" required>
			<option value="">Select...</option>
			{{#each subscriptions}}
				<option value="{{id}}">{{title}}</option>
			{{/each}}
		</select>

		<p class="Add-subscription-form__price-info">
			<output class="feeAmount "
					id="{{subscription.domID}}subscriptionPrice"
					for="{{subscription.domID}}subscription"></output>

			<output class="keys Add-subscription-form__keys-info"
					for="{{subscription.domID}}subscription"></output>
		</p>
		<button class="removeSubscriptionBtn Add-subscription-form__remove-button" id="rmSub_{{subscription.domID}}">Remove
			Training
		</button>
	</fieldset>
</li>
