<h1>Form ID: {{id}}</h1>
<dl>
	<dt>submitted</dt>
	<dd>{{created}}</dd>
</dl>
<h2>Account Information</h2>
<dl>
	<dt>Corporation Name</dt>
	<dd>{{title}}</dd>
	<dt>Institution Name</dt>
	<dd>{{institutionName}}</dd>
	<dt>PO#</dt>
	<dd>{{po}}</dd>
</dl>
<h2>Subscribers</h2>
<ol class="subscribers">
</ol>
<h2>Subscriber Agreement</h2>
<dl>
	<dt>Signature</dt>
	<dd>{{signature}}</dd>
	<dt>Title</dt>
	<dd>{{jobTitle}}</dd>
	<dt>Submitter clicked TOS checkbox</dt>
	<dd>{{agreedTos}}</dd>
</dl>
<h2>Payment Information</h2>
<dl>
	<dt>Payment Option</dt>
	<dd>{{paymentOption}}</dd>
	<dt>Apply Keys</dt>
	<dd>{{useKeys}}</dd>
	<dt>Total when submitted</dt>
	<dd>{{calculatedTotalCost}}</dd>
</dl>