<div class="welcomeSectionTagLine">My<span>Campus</span>Insight</div>
<p>Campus Management Corp.<br/>
    5201 Congress Ave.<br/>
    Boca Raton FL 33487</p>
<dl class="dateSubmitted">
	<dt>Date:</dt>
	<dd>{{formatDate created}}</dd>
</dl>
<h1>The Learning Center
	Online Training Courses
	Subscription Order Form</h1>

<h2>Account Information</h2>
<p class="billto">
	{{title}}<br/>
	{{institutionName}}<br/>
	{{signature}}, {{jobTitle}}<br/>
	<em>PO:</em> {{po}}
</p>

<h2>Subscriber(s)</h2>
<ol class="subscribers">
</ol>

<h2>Payment Information</h2>
<div class="totals">
	<div class="subtotal">
		<label for="totalPrice">Subtotal</label>

		<div id="totalPrice">${{calculatedTotalCost}}</div>
	</div>
	<div class="applyKeys">
		<label for="useKeys">Apply Keys</label>

		<div id="useKeys">{{useKeys}}</div>
	</div>
	<div class="grandTotal">
		<label for="alteredTotalPrice">Total Due</label>

		<div id="alteredTotalPrice">${{calcTotal calculatedTotalCost useKeys}}</div>
	</div>
</div>
