{{#each items}}
	<li id="person_{{id}}">
		<dl>
			<dt>First Name</dt>
			<dd>{{firstName}}</dd>
			<dt>Last Name</dt>
			<dd>{{lastName}}</dd>
			<dt>Email</dt>
			<dd>{{email}}</dd>
			<dt>User Type</dt>
			<dd>{{userType}}</dd>
			<dt>Department</dt>
			<dd>{{department}}</dd>
			<dt>Job Role</dt>
			<dd>{{jobRole}}</dd>
		</dl>
		<h3>Training</h3>
		<ol class="training">

		</ol>
	</li>
{{/each}}