{{#each items}}
	<li id="person_{{id}}">
		<em>{{lastName}}, {{firstName}}</em> ({{email}})<br />
		{{#if userType }}
			{{userType}}<br />
		{{/if}}
		{{#if department }}
			{{department}},
		{{/if}}
		{{jobRole}}
		<h3>Courses(s)</h3>
		<ol class="training">

		</ol>
	</li>
{{/each}}