<section class="Tlc-subscribe-form">
    <fieldset>
        <legend>STEP 1. Your Institution’s Information</legend>
        <ul role="presentation">
            <li role="presentation">
                <label for="corpName" class="requiredLabel">Corporation Name</label>
                <input type="text" id="corpName" name='corpName' value="" required/>
                <label id="corpName-error" class="error" for="corpName">This field is
                    required.</label>
            </li>
            <li role="presentation">
                <label for="institutionName" class="requiredLabel">Institution name</label>
                <input type="text" id="institutionName" name="institution" value="" required/>
                <label id="institutionName-error" class="error" for="institutionName">This field is
                    required.</label>
            </li>
            <li role="presentation">
                <label for="poNumber">PO# (if required)</label>
                <input type="text" name='poNumber' id="poNumber" value=""/>
            </li>
        </ul>
        <aside>
            <a href="/tlc/Documents/MCI_tech_reqs.pdf" target="_blank" class="review-tech-link">Review Technical Requirements</a>
        </aside>
    </fieldset>

    <fieldset>
        <legend>STEP 2. Add Subscriber(s)</legend>
        <aside>
            <h3>About Subscriptions:</h3>
            <ul>
                <li>Can be purchased for any number of users.</li>
                <li>Active for 90 days from date of activation.</li>
                <li>Training Keys can be used to purchase subscriptions.</li>
                <li>Can be renewed by submitting as new order</li>
                <li>Are non-refundable and non-transferable.</li>
            </ul>
        </aside>
        <aside>
            <h3>Did You Know?</h3>

            <p>In addition to being a subscriber who purchases courses, you can also select to be an Administrator.
                Administrators have the ability to run reports on course activity for individuals from their
                institution.</p>
        </aside>
        <p>Add additional subscribers as needed by clicking the “Add Subscriber” button below.</p>

        <ul id="attendeeList">
        </ul>
        <button id="addAttendeeBtn" class="Tlc-subscribe-form__button--add-attendee"
                aria-describedby="subscriberRequiredError">Add Subscriber
        </button>
        <p id="subscriberRequiredError" class="error" style="display: none" aria-hidden="true"
           role="alert">Add a subscriber to continue.</p>

    </fieldset>
    <fieldset class="Tlc-subscribe-form__billing-info">
        <legend>STEP 3. Subscriber Agreement</legend>
        <ul role="presentation">
            <li>
                <label for="signature" class="requiredLabel">Signature</label>
                <input type="text" id="signature" name="signature" value="" required/>
            </li>
            <li>
                <label for="title" class="requiredLabel">Title</label>
                <input type="text" id="title" name="title" required value=""/>
            </li>
            <li class="Tlc-subscribe-form__billing-info__terms">
                <label for="touAgree" class="requiredLabel">Terms of Use</label>
                <input type="checkbox" id="touAgree" value="1"
                       name="touAgree" required checked/>

                <p>
                    By selecting the "Terms of Use" check-box, you acknowledge and agree to the
                    <a
                            href="http://www.myCampusInsight.com/_layouts/CampusManagement/TermsOfUse.aspx"
                            target="_blank">
                        Acceptable Use Policy</a>.</p>
                <label id="touAgree-error" class="error" for="touAgree">This field is
                    required.</label>
            </li>

        </ul>
    </fieldset>

    <fieldset class="now-what">
        <legend>STEP 4. Now What?</legend>
        <p>Within two business days of receiving your completed Subscription Order Form, The Learning Center will add
            approved users into our learning management system called “Know It Now.” Subscribers will receive an email,
            which includes login credentials, a temporary password, and links to important information about their
            assigned collection(s).
            If you have questions about the subscription order process, please contact learning@campusmgmt.com or your
            Account Manager.
        </p>
        <aside>
            <h3>Subscribers:</h3>
            <ul>
                <li>Receive login credentials and instructions via email upon activation.</li>
                <li>Deactivated upon expiration of the 90-day period.</li>
                <li>Access courses as many times as desired during the subscription period.</li>
            </ul>
        </aside>
    </fieldset>
    <fieldset class="paymentInformation">
        <legend>STEP 5: Payment Information</legend>
        <p id="aboutKeys">
            Training Keys may be combined with payment options. If your institution has Training
            Keys, enter the
            number of keys to be used in the field provided below to recalculate the total balance
            due. Training
            Keys are valued at $25 each. State sales/use taxes are included when applicable.
        </p>

        <fieldset class="Tlc-subscribe-form__payment-options">
            <legend id="paymentOptionsLegend">Payment Options</legend>
            <ul>
                <li>
                    <input type="radio" name="paymentOption" id="payment_invoice"
                           value="Send Invoice" aria-describedby="paymentOptionsLegend"
                           checked/><label
                        for="payment_invoice">Send
                    Invoice</label>
                </li>
                <li>
                    <input type="radio" name="paymentOption" id="payment_cc" value="Bill CC"
                           aria-describedby="paymentOptionsLegend"/><label
                        for="payment_cc">Bill my Credit Card</label>
                </li>
            </ul>
        </fieldset>

        <div class="Tlc-subscribe-form__totals">
            <div class="Tlc-subscribe-form__subtotal">
                <label for="subtotal">Subtotal</label>
                <output id="subtotal">$0</output>
            </div>
            <div class="Tlc-subscribe-form__apply-keys">
                <label id="useKeys-error" class="error" for="useKeys">This field is
                    required.</label>
                <label for="useKeys">Apply Keys</label>
                <input type="number" max="0" min="0" id="useKeys"
                       value="0"
                       name="useKeys"
                       aria-label="Number of keys to use"
                       aria-controls="alteredTotalPrice"
                       required
                        />
            </div>
            <div class="Tlc-subscribe-form__grand-total">
                <label for="alteredTotalPrice">Total Due</label>
                <output id="alteredTotalPrice">$0</output>
            </div>
        </div>

        <p class="error" id="formErrors"></p>
        <button id="submitBtn" class="Tlc-subscribe-form__submit-button">Submit</button>
    </fieldset>
</section>
